.ctitle {
	margin-left: 20px;;	
}

.sbtn {
	margin-left: 20px;
	margin-top:  20px;;	
}

.bakgrnd {
	background-color: grey;	
}	

.js-submit-form {
	background-color: lightgrey;	
}	

.btnColor01{
	background-color: black;

}

.btnColor02{
	background-color: blue;

}

.btnColor03{
	background-color: cyan;

}

.btnColor04{
	background-color: darkgreen;

}

.btnColor05{
	background-color: green;

}

.btnColor06{
	background-color: fuchsia;

}

.btnColor07{
	background-color: violet;

}

.btnColor08{
	background-color: firebrick;

}

.btnColor09{
	background-color: red;

}

.btnColor10{
	background-color: orange;

}

.btnColor11{
	background-color: goldenrod;

}

.btnColor12{
	background-color: deeppink;

}

.btnColor13{
	background-color: olive;

}

.btnColor14{
	background-color: saddlebrown;

}

.btnColor15{
	background-color: slategray;

}

.btnColor16{
	background-color: teal;

}

.btnColor17{
	background-color: white;

}